<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.debug">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>

        <mapping class="com.i2i.sma.models.Admin"/>
        <mapping class="com.i2i.sma.models.Cabin"/>
        <mapping class="com.i2i.sma.models.Grade"/>
        <mapping class="com.i2i.sma.models.Student"/>
        <mapping class="com.i2i.sma.models.Teacher"/>
    </session-factory>
</hibernate-configuration>
