<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="rollingFile" fileName="C:/logs/studentApp.log"
                filePattern="C:/logs/studentApp.%d{yyyy-MM-dd}-%i.log.gz"
                append="false">
            <PatternLayout pattern = "%d{yyyy-MM-dd HH:mm:ss:ms} %-5level %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name = "org.hibernate" level = "debug"/>
        <Root level = "debug">
            <AppenderRef ref = "rollingFile" />
        </Root>
    </Loggers>
</Configuration>